.App {
  text-align: center;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;

  padding-top: 15px;
  padding-bottom: 15px;
  background-color: lightgray;

}

.task-container {
  display: flex;
  flex-direction:column;
  justify-content: center;
  align-items: center;

  background-color: whitesmoke;

  padding-top: 15px;
  padding-bottom: 15px;
  border: solid rgba(0, 0, 0, 0.384) 1px;
  border-radius: 5px;
  margin-right: 30%;
  margin-left: 30%;
  margin-top: 10px;
  margin-bottom: 10px;
}

.task {  
  margin-top: 10px;
  margin-bottom: 10px;
}

.remove {
  margin-top: 10px;
  margin-bottom: 10px;
}