.top {
    display: flex;
    justify-content: space-around;
}

.bottom {
    display: flex;
}

.green {
    background-color: greenyellow;
    width: 100px;
    height: 150px;
    border: solid black 1px;
}

.red {
    flex-grow: 1;
    background-color: red;
    height: 100px;
    border: solid black 1px;
}

.large {
    flex-grow: 3;
}

.text {
    margin: 0;
}