.container {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: 100px 100px 100px 100px 100px 50px;
}

.red {
    background-color: red;
    border: solid 1px black;
}

.green {
    background-color: greenyellow;
    border: solid 1px black;
}

.text {
    margin: 0;
}

#red-one {
    grid-area: 1 / 1 / 2 / 2;
}

#red-two {
    grid-area: 1 / 2 / 2 / 3;
}

#red-three {
    grid-area: 1 / 3 / 2 / 4;
}

#red-four {
    grid-area: 2 / 1 / 3 / 2;
}

#red-five {
    grid-area: 2 / 2 / 3 / 3;
}
#green-one {
    grid-area: 3 / 1 / 4 / 4;
}

#green-two {
    grid-area: 4 / 1 / 7 / 2;
}

#green-three {
    grid-area: 4 / 2 / 5 / 3;
}

#green-four {
    grid-area: 4 / 3 / 5 / 4;
}

#green-five {
    grid-area: 5 / 2 / 6 / 3;
}